@import "~antd/lib/style/themes/default.less";

.container {
  background: #f0f2f5;
  background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 110px 0 144px 0;
  position: relative;
}

.top{
  text-align: center;
}

.header {

}

.logo {

}

.title {

}

.desc {

}

.footer {

}
